<html>
	<head>
		<title>Litromètre - Init</title>
	</head>
	<body>
		<form method='POST' action='init'>
			<label for='password'>Mdp :</label>
			<input type='password' name='password'/><br/>
			<input type='submit' name='submit' value='Réinitialiser scores'/>
		</form>
	</body>
</html>